.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.infor {
    flex: 1;
    margin-left: 12px;
}
.name {
    font-size: 16px;
    font-weight: 500;
}
.username {
    font-size: 14px;
    color: rgba(22, 24, 35, 0.5);
}

.check {
    font-size: 14px;
    color: rgb(32, 213, 236);
    margin-left: 5px;
}
