.footer-sidebar-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.footer-sidebar-item {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.161px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 5px;
    color: rgba(22, 24, 35, 0.5);

    &:hover {
        text-decoration: underline;
    }
}
