.wrapper {
    --search-boder-radius: 92px;
    --search-height: 46px;
    --search-top-space: 9px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.tiktok-logo {
    display: flex;
}

.action {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 24px;
    padding: 8px;
    border: transparent;
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
}

.action-btn {
    background-color: transparent;
    color: #161823;
    font-size: 28px;
    border: 1px solid transparent;
    margin-left: 16px;
    padding: 3px 3px 0px;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-left: 24px;
    border-radius: 50%;

    cursor: pointer;
}
